# Sanal ortam klasörleri (venv)
/venv/

# Ortam değişkenleri dosyası (Hassas bilgi içerir!)
.env

# Python cache
__pycache__/
*.pyc

# Veritabanı dosyaları
*.sqlite3

# Binary dosyalar (İlk ekran görüntünüzden)
*.bin

# Üretilen büyük veri ve vektör deposu klasörleri
# Bu klasörlerin içindeki her şeyi görmezden gel
/data/
/vectorstore_test/

# Jupyter Notebook checkpoint dosyaları
.ipynb_checkpoints/git reset